{% extends 'blog/base.html' %}
{% block inhoud %}
    <div class="main pt-4 pb-4">
        <div class="postblock">
                {% for post in posts %}
            <article class="post">
                <time class="date d-block mb-2">
                    {{ post.published_date|date:"j F Y H:i" }}
                </time>
                <h2>
                    <a href="{% url 'post_inhoud' pk=post.pk %}">
                        {{ post.title }}
                    </a>
                </h2>
                <p>
                    {{ post.text|linebreaksbr }}
                </p>
            </article>
        {% endfor %}
        </div>
    </div>

{% endblock %}
